# Análise e tratamento de dados

## Data loading

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('../datasets/aluguel.csv',sep=';')

## Data exploration

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [5]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [6]:
tipo_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])
tipo_de_dados.columns.name='Variáveis'
tipo_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [7]:
print('A base de dados possui {} (imóveis) com {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados possui 32960 (imóveis) com 9 variáveis

In [8]:
tipo_de_imovel = dados['Tipo']
tipo_de_imovel

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [9]:
tipo_de_imovel = dados.Tipo.drop_duplicates()

In [10]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [11]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [12]:
tipo_de_imovel.index

Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,    83,
         117,   159,   207,   347,   589,  2157,  3354,  4379,  4721,  6983,
        9687, 23614],
      dtype='int64')

In [13]:
tipo_de_imovel.shape[0]

22

In [14]:
for i in range(tipo_de_imovel.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [15]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [16]:
tipo_de_imovel

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [17]:
tipo_de_imovel.columns.name = 'Id'
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [18]:
list(dados.Tipo.drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [19]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [20]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [21]:
dados['Tipo'].isin(residencial).head()

0     True
1     True
2    False
3     True
4     True
Name: Tipo, dtype: bool

In [22]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [23]:
dados_residencial = dados[selecao]
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [24]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [25]:
dados_residencial.Tipo.shape

(22580,)

In [26]:
dados_residencial.index = range(dados_residencial.Tipo.shape[0])
dados_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [27]:
# export dataframe to csv 
# dados_residencial.to_csv('../datasets/aluguel_residencial.csv', sep=';', index=False)

In [27]:
# dados faltantes
dados_residencial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [29]:
# registros com atributo Valor ausentes
dados_residencial[dados_residencial['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [32]:
# removendo NAs do atributo Valor
dados_residencial.dropna(subset=['Valor'], inplace=True)
dados_residencial['Valor'].isnull().sum()

/tmp/ipykernel_382831/2132858710.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_residencial.dropna(subset=['Valor'], inplace=True)

0

In [37]:
# frq apart

selecao = dados_residencial['Tipo'] == "Apartamento"
n1 = dados_residencial[selecao].shape[0]
n1

# dados_residencial.query('Tipo == "Apartamento"').shape[0]

19532

In [39]:
# frq casa, casa de condominio e casa de vila
selecao = (dados_residencial.Tipo == 'Casa') | (dados_residencial.Tipo == 'Casa de Condomínio') | (dados_residencial.Tipo == 'Casa de Vila')
n2 = dados_residencial[selecao].shape[0]
n2

# dados_residencial.query('(Tipo == "Casa") | (Tipo == "Casa de Condomínio") | (Tipo == "Casa de Vila")').shape[0]

2212

In [46]:
# freq 60 100
selecao = (dados_residencial['Area'] >= 60) & (dados_residencial['Area'] <= 100)
n3 = dados_residencial[selecao].shape[0]
n3

# dados_residencial.query('(Area >= 60) & (Area <= 100)').shape[0]

8719

In [51]:
# freq 4 qrts menor que 2k
selecao = (dados_residencial['Quartos'] >= 4) & (dados_residencial['Valor'] < 2000)
n4 = dados_residencial[selecao].shape[0]
n4
# dados_residencial.query('(Quartos >=4) & (Valor<2000)').shape[0]

41

In [53]:
print(f"""
Nº de imóveis classificados com tipo 'Apartamento' = {n1}
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' = {n2}
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites = {n3}
Nº de imóveis que possuem pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = {n4}
"""
)

Nº de imóveis classificados com tipo 'Apartamento' = 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' = 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites = 8719
Nº de imóveis que possuem pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = 41

## data insights

- Quantos registros possuem a base da dados?
- Quais os tipos de dados da base de dados?
- Que variáveis possuem os registros?
- Quais são os tipos de imóveis?
- Quais são os registros de imóveis residenciais?
- Selecione somente os imóveis classificados com tipo 'Apartamento'.
- Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
- Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
- Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00